---
// src/pages/resume.astro

import PageLayoutSplit from "@layouts/PageLayoutSplit.astro";
import PageLayoutWide from "@layouts/PageLayoutWide.astro";
import { getEntryBySlug } from "astro:content";
import type { CollectionEntry } from "astro:content";

// Fetch the resume content
const post: CollectionEntry<"resume"> = await getEntryBySlug("resume", "resume");
const { Content } = await post.render();
---

{post.data.style.template === "split" && (
  <PageLayoutSplit {...post.data}>
    <section class="max-w-4xl mx-auto px-6 py-12">
      <article class="prose prose-lg prose-neutral dark:prose-invert">
        <Content />
      </article>
    </section>
  </PageLayoutSplit>
)}

{post.data.style.template === "full" && (
  <PageLayoutWide {...post.data}>
    <section class="max-w-4xl mx-auto px-6 py-12">
      <article class="prose prose-lg prose-neutral dark:prose-invert">
        <Content />
      </article>
    </section>
  </PageLayoutWide>
)}
